.App {
  font-family: sans-serif;
  text-align: left;
}

:root {
  --main-red-blue: #22a7a2;
  --main-red-yellow: #fdc75c;
  box-sizing: border-box;
}

body {
  margin: 0 0;
}

h1 {
  font-size: 4rem;
}

header {
  height: 15%;
}

footer {
  bottom: 0;
  height: 10vh;
  position: sticky;
  width: 100%;
}

.main {
  height: 70%;
}

.fb-icon {
  color: #3b5998;
}

.twitter-icon {
  color: #1da1f2;
}

.check-icon {
  color: var(--main-red-yellow);
}
